
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Quicksand:300,400,500,700|Shadows+Into+Light+Two");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


@font-face{
    font-weight: normal;
    font-family: 'MYRIADPRO-BOLD';
    src: url('../font/MYRIADPRO-BOLD.otf');
}

@font-face{
    font-weight: normal;
    font-family: 'MYRIADPRO-SEMIBOLD';
    src: url('../font/MYRIADPRO-SEMIBOLD.otf');
}

@font-face{
    font-weight: normal;
    font-family: 'MyriadPro-Light';
    src: url('../font/MyriadPro-Light.otf');
}

@font-face{
    font-weight: normal;
    font-family: 'MyriadPro-Regular';
    src: url('../font/MYRIADPRO-REGULAR.otf');
}




