
.approved {
    background-color: #15D4A150;
    color: #15D4A1;
}

.in-progress{
    background-color: #0060FF20;
    color: #0060FF;
}

.rejected {
    background-color: #FF0E4620;
    color: #FF0E46;
}

